@import "partials/colors";
@import "partials/fonts";

body 
{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather' sans-serif;

    h1 
    {
        font-size: 5.625em; 
        // 100% = 16px = 1em 90 / 16 = 562.5 = 5.625em
        margin-top: 0;
        margin: auto;
        font-family: 'Sacramento', cursive;
    }

    h2 
    {
        font-family: 'Montserrat', sans-serif;
    }

    h3 
    {
        font-family: 'Montserrat', sans-serif;
    }

    .top-container
    {
        background-color: $primary-color;
        position: relative;
        padding-top: 100px;
    }
    .middle-container
    {
    }

    .bottom-container
    {
    }

    #top-cloud
    {
        position: absolute;
        right: 300px;
        top: 50px;
    }
    #bottom-cloud 
    {
        position: absolute;
        left: 300px;
        bottom: 300px;
    }
}

