$primary-color: #E4F9F5;
$secondary-color: #66BFBF;
$tertiary-color: #11999E;
$shadow: #808080;
$off-black: #40514e;
$horizontal-rule: #E4F9F5;

$btn-primary: #11cdd4;
$btn-secondary: #11999e;
$btn-text: #ffffff;
$btn-onHover-primary: #30e3cb;
$btn-onHover-secondary: #2bc4ad;
